img.Asaph_PostImage {
	border: 2px dashed #00adef !important;
	cursor: pointer !important;
}

	img.Asaph_PostImage:hover, img.Asaph_PostImageActive {
		border: 2px solid #00adef !important;
	}

#Asaph {
	display: none;
	position: fixed;
	top: 0;
	left: 50%;
	width: 800px;
	margin-left: -400px;
	padding: 0 18px 18px 18px;
	z-index: 99999;
	box-sizing:border-box;
	/*background-image: url(remote-background.png);
	background-position: bottom;*/
	background-color:white;
	
  	-moz-box-shadow:    0px 0px 12px 8px rgba(0,0,0,0.35);
  	-webkit-box-shadow: 0px 0px 12px 8px rgba(0,0,0,0.35);
  	box-shadow:         0px 0px 12px 8px rgba(0,0,0,0.35);
}
	color: #aaa !important;
}

div[id='Asaph_Menu'] {
	font-weight: bold;
	padding: 6px;
	position: relative;
	height: 22px;
	padding-top: 6px;
	font-size: 12pt;
}

#Asaph_Dialog {
	border-top: 1px solid #eee;
	display: none;
	position: relative;
}

#Asaph iframe {
	width: 100%;
	height: 370px;
	border: 0;
}

.Asaph_Post {
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
	text-align: left;
}

.Asaph_Post a {
	color: #666 !important;

	background: transparent none !important;
	text-decoration: none !important;
	border: 0 !important;
}

.Asaph_Post a:hover {
	color: #00adef !important;	
	background: transparent none !important;
	text-decoration: none !important;
	border: 0 !important;
}

.Asaph_Post a.close {
	
	
	
	/*padding: 0px 10px;*/
	font-weight: bold;
	float:right;
}

body.Asaph_Post {
	color: #666;
	margin: 0;
	padding: 6px 0 0 6px;
}

.Asaph_Post form{
	
	height:350px;
	float:left;
	display:block;
}

.Asaph_Post input, .Asaph_Post textarea {
	font-family: arial;
	font-size: 10pt;
	padding: 1px 3px;
	border: 1px solid #444;
	background-color: #fff;
	color: #666;
	margin-top:0px;
	outline:none;
}
Asaph_Post textarea[id="description"] {
	height:273px;
}
.Asaph_Post textarea[id="quote"] {
	font-family: Georgia, serif;
	font-size: 12pt;
	text-align: center;
	color: black;
	line-height: 140%;
	vertical-align: middle;
	height: 310px;
	padding: 10px;
	margin-left: 0px;
	margin-right: 0px;
	width: 350px;
	font-style: italic;
	box-sizing:border-box;
	border-top-left-radius: 10px;
	resize:none;
}

.Asaph_Post input {
	width: 100%;
	box-sizing:border-box;
	line-height: 180%;
	
	font-size: 12pt;
	padding-left:9px;
	padding-right:9px;
}

.Asaph_Post input.long {
	
}

.Asaph_Post textarea {
	width: 330px;
	height: 68px;
	font-size: 10pt;
}

.Asaph_Post input.button {
	background-color: #00adef;
	color:white;
	border: 1px solid darkblue;
	font-weight: bold;
	margin-top: 8px;
	border-bottom-right-radius: 10px;
}

.Asaph_Post input:focus, .Asaph_Post textarea:focus {
	border: 1px solid #00adef;
}

.Asaph_Post dd {
	margin: 0px 0px 8px 0px;
	width:100%;
}
.Asaph_Post dl
{
	margin-top: 0px;
	float:left;
	width:390px;

}
.Asaph_Post dt {
	margin-right: 8px;
	padding: 0.1em 0;
	width: 70px;
	height: 1em;
	text-align: right;
	display: block;
	float: left;
	font-style: italic;
}

.Asaph_Post h1 {
	font-size: 100%;
	font-weight: bold;
	margin: 0 0 10px 0; 
	padding: 0;
	color: #aaa;
}

.Asaph_Post div.warn {
	background-color:#fff6df;
	padding: 0.3em;
	margin-right: 10px;
	border: 1px solid #fdc689;
}
